* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif;
}

header {
    position: relative;
}
.hero-content {
    position: absolute;
    top: 0;
    width: 100%;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    text-decoration: none;;
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.nav-links a:hover {
    color: #0328AA;
    font-weight: 600;
}
.top-nav {
    width: 100%;
}
.hero-image {
    width: 100%;
    height: auto;
}
#brand-id img{
    width: 160px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0 8px 0;
}
.hero-text {
    margin-top: 180px;
    max-width: 700px;
}

.hero-text h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
}
.hero-text p {
    max-width: 600px;
    font-family: 1.1rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 20px;
}
button {
    all: unset;
}
.btn-primary {
    padding: 24px 48px;
    background-color: #0328AA;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.partners {
    margin-top: 20px;
    margin-bottom: 100px;
}
.section-title-sm {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.5rem;
}
.section-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 36px;
}
.partners-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.client-image {
    width: 120px;
    object-fit: contain; 
}

.about-section {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .about-section p {
    line-height: 1.6;
    font-weight: 200;
    font-size: 14px;
  }
  .about-section-text {
    padding: 0px 42px;
  }
  .about-section-img {
    width: 580px;
  }

  .services-section {
    margin-top: 100px;
    margin-bottom: 160px;
  }
  .section-subtitle {
    font-size: 13px;
    max-width: 600px;
    font-weight: 300;
  }
  .services-section-content{
    margin-top: 48px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }
  .services-card{
    width: 33%;
  }
  .services-card-img {
    width: 100%;
    height: 248px;
    margin-bottom: 24px;
  }
  .services-card-title{
    font-size: 18px;
    font-family: "Bricolage Grotesque", sans-serif;
    padding-bottom: 8px;
  }
  .services-card-description {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
  }


  .wcu-section {
    background-image: url('./images/why-choose-us/Why-choose-us-bg.png');
    background-color: #0328AA;
    color: white;
    padding: 140px 0px;
  }
  .wcu-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  .wcu-card{
    width: 320px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 32px;
    border-radius: 24px;
  }
  .wcu-card h4 {
    font-size: 18px;
    font-family: "Bricolage Grotesque", sans-serif;
    padding-bottom: 8px;
  }
  
  .wcu-card p{
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
  }
  .wcu-card img {
    width: 60px;
    margin-bottom: 24px;
  }
  .wcu-card .stats {
    margin-top: 20px;
  }
  .wcu-card .stats h3 {
    font-size: 48px;
    }

/*testimonial section*/
.testimonial-section {
    padding: 60px 0px;
  }

  .testimonial-content{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
   }
   .testimonial-card {
    width: 320px;
    background-color: #EEF5FF;
    padding: 32px;
    border-radius: 24px;
  }

  .testimonial-card h4 {
    font-size: 18px;
    font-family: "Bricolage Grotesque", sans-serif;
    padding-bottom: 4px;
  }

  .testimonial-card img {
    width: 60px;
    margin-bottom: 8px;
  }
  .testimonial-card-subtitle{
    font-size: 16px;
    font-weight: 600;
  }
  .testimonial-card-description {
    font-size: 14px;
    font-weight: 200;
    padding-top: 20px;
    line-height: 1.6;
  }

/* team section */
.team-section {
    padding: 60px 0px;
  }
  .team-content{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
   }
   .team-card{
    width: 260px;
   }
   .team-card-main-img{
    width: 100%;
    margin-bottom: 10px;
    }
    .team-card p {
        color: #6B7280;
        font-size: 14px;
        font-weight: 400;
      }
      .team-card h5 {
        font-size: 20px;
        font-family: "Bricolage Grotesque", sans-serif;
        padding-bottom: 4px;
      }
      .team-card-socials {
        margin-top: 14px;
        display: flex;
        gap: 10px;
      }
      .team-card-socials img {
        width: 32px;
      }


/* cta section */
.cta-section {
    position: relative;
    background-color: #0328AA;
  }
  .cta-image {
    width: 100%;
  }
  .cta-content-wrapper{
    width: 100%;
    color: white;
    position: absolute;
    top: 50px;
  }
  .cta-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cta-form {
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
  }
  .cta-form h3{
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 28px;
    margin-bottom: 28px;
  }
  .cta-form input {
    width: 300px;
    padding: 12px 8px;
    border-radius: 8px;
    border: 0.4px solid white;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .cta-form input::placeholder {
    color: white;
    font-weight: 200;
    font-size: 13px;
   }
   
   .cta-form textarea {
    border: 0.4px solid white;
    width: 300px;
    padding: 12px 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .cta-form textarea::placeholder {
    color: white;
    font-weight: 200;
    font-size: 13px;
  }
  .cta-header {
    width: 400px;
  }
  .cta-header h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 10px;
  }
  
  .cta-header p {
    font-weight: 200;
    font-size: 13px;
  }
  .cta-form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  .cta-form-section{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

.cta-form button {
    width: 100%;
    color: #0328AA;
    background-color: white;
    padding: 16px 4px;
    text-align: center;
    border-radius: 12px;
    font-weight: bold;
}


/* footer */
footer{
    background-color: #2F3031;
    color: white;
  }
  .footer-links {
    display: flex;
    gap: 60px;
  }
  .footer-content {
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
  }
  .footer-header{
    width: 320px;
  }
  .footer-header p{
    font-size: 14px;
    line-height: 1.8;
  }
  
  .footer-header img{
    width: 180px;
  }
  .footer-link-item h6{
    font-size: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
  }
  
  .footer-link-item li {
    padding-top: 10px;
    list-style: none;
  }
  .footer-link-item a {
    text-decoration: none;
    color: white;
  }
  .footer-contact-container{
    padding-top: 10px;
  }
  .footer-links-contact {
    display: flex;
    gap: 6px;
    padding-bottom: 20px;
  }
  .footer-links-contact img{
    width: 20px;
   }
   .copyright{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0px;
  }

/* Responsive */
@media (max-width: 700px) {
    .navbar-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        gap: 10px;
    }
    #brand-id {
        padding-bottom: 10px;
    }
    .hero-image {
        height: 100vh;
        object-fit: cover;
    }
    .navbar-content {
        padding: 8px 16px 8px 16px;
    }
    #brand-id img {
        width: 80px;
      }
      .hero-text {
        margin-top: 100px;
        max-width: 368px;
      }
    
    .hero-text h1 {
      font-size: 42px;
      letter-spacing: -2px;
      line-height: 0.9;
      font-family: "Bricolage Grotesque", sans-serif;
      margin-bottom: 10px;
    }
    
    
    .hero-text p {
      max-width: 368px;
      font-family: 18px;
      line-height: 1.6;
    
    }
    .partners {
        margin-bottom: 40px;
    }
    .partners-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
      }
      .client-image {
        width: 80px;
        object-fit: contain;
        margin: 6px;
      }

      .about-section {
        display: block;
        gap: 40px;
        align-items: center;
      }
      
      .about-section-img {
        width: 100%;
      }
      
      .about-section-text {
        padding: 0px 0px;
        margin-top: 28px;
      }
      .services-section {
        margin-top: 40px;
        margin-bottom: 60px;
      }
      .services-section-content{
        margin-top: 48px;
        display: block;
        justify-content: space-between;
      }
      .services-card{
        width: auto;
        object-fit: cover;
        margin-bottom: 42px;
      }
      .wcu-section {
        padding: 40px 0px;
      }
      .wcu-content {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .wcu-card{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 32px;
        border-radius: 24px;
        margin-bottom: 32px;
      }
      .testimonial-content{
        margin-top: 32px;
        display: block;
        justify-content: space-between;
       }
      
       .testimonial-card {
        width: 100%;
        background-color: #EEF5FF;
        padding: 32px;
        border-radius: 24px;
        margin-bottom: 32px;
      }
      .testimonial-section {
        padding-bottom: 0;
      }
      .team-section {
        padding: 20px 0px;
      }
      .team-content{
        margin-top: 32px;
        display: block;
        justify-content: space-between;
       }
      
       .team-card{
        width: 100%;
        margin-bottom: 42px;
       }
       .cta-content{
        max-width: 1200px;
        margin: auto;
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 48px 12px;
      }
      
      .cta-form-section{
        display: block;
        gap: 20px;
        margin-bottom: 20px;
      }
      
      .cta-image {
        width: 100%;
       height: 700px;
       object-fit: cover;
      }
       
      .cta-header {
        width: 100%;
        margin-bottom: 32px;
      }
      
      
      .cta-form-inputs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .cta-form-inputs input, 
      .cta-form-section textarea {
        width: 100%;
      }



      .footer-content {
        padding: 60px 0px;
        display: block;
        justify-content: space-between;
      }
      
      .footer-header{
        width: 320px;
        margin-bottom: 32px;
      }
      
      .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

      }
      
      .footer-link-item {
      margin-bottom: 28px;
      }
}


@media (min-width: 700px) and (max-width: 767px)  {
        .navbar-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .nav-links {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
            gap: 10px;
        }
        #brand-id {
            padding-bottom: 10px;
        }
        .hero-image {
            height: 100vh;
            object-fit: cover;
        }
        .navbar-content {
            padding: 8px 16px 8px 16px;
        }
        #brand-id img {
            width: 80px;
          }
          .hero-text {
            margin-top: 100px;
            max-width: 368px;
          }
        
        .hero-text h1 {
          font-size: 42px;
          letter-spacing: -2px;
          line-height: 0.9;
          font-family: "Bricolage Grotesque", sans-serif;
          margin-bottom: 10px;
        }
        
        
        .hero-text p {
          max-width: 368px;
          font-family: 18px;
          line-height: 1.6;
        
        }
        .partners {
            margin-bottom: 40px;
        }
        .partners-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
          }
          .client-image {
            width: 80px;
            object-fit: contain;
            margin: 6px;
          }
    
          .about-section {
            display: block;
            gap: 40px;
            align-items: center;
          }
          
          .about-section-img {
            width: 100%;
          }
          
          .about-section-text {
            padding: 0px 0px;
            margin-top: 28px;
          }
          .services-section {
            margin-top: 40px;
            margin-bottom: 60px;
          }
          .services-section-content{
            margin-top: 48px;
            display: flex;
            justify-content: space-between;
            gap:10px;
          }
          .services-card{
            width: auto;
            object-fit: cover;
            margin-bottom: 42px;
          }
          .wcu-section {
            padding: 40px 0px;
          }
          .wcu-content {
            margin-top: 60px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            gap: 32px;
          }
          
          .wcu-card{
            width: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            padding: 32px;
            border-radius: 24px;
            margin-bottom: 32px;
          }
          .testimonial-content{
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            gap: 10px;
           }
          
           .testimonial-card {
            width: 100%;
            background-color: #EEF5FF;
            padding: 32px;
            border-radius: 24px;
            margin-bottom: 32px;
          }
          .testimonial-section {
            padding-bottom: 0;
          }
          .team-section {
            padding: 20px 0px;
          }
          .team-content{
            margin-top: 32px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
           }
          
           .team-card{
            margin-bottom: 42px;
           }
           .cta-content{
            max-width: 1200px;
            margin: auto;
            display: block;
            justify-content: space-between;
            align-items: center;
            padding: 48px 12px;
          }
          
          .cta-form-section{
            display: block;
            gap: 20px;
            margin-bottom: 20px;
          }
          
          .cta-image {
            width: 100%;
           height: 700px;
           object-fit: cover;
          }
           
          .cta-header {
            width: 100%;
            margin-bottom: 32px;
          }
          
          
          .cta-form-inputs{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;
          }
          .cta-form-inputs input, 
          .cta-form-section textarea {
            width: 100%;
          }
    
    
    
          .footer-content {
            padding: 60px 0px;
            display: block;
            justify-content: space-between;
          }
          
          .footer-header{
            width: 320px;
            margin-bottom: 32px;
          }
          
          .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
    
          }
          
          .footer-link-item {
          margin-bottom: 28px;
          }
}

/* Medium devices (tablets, up to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .partners-content {
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .hero-image {
        height: 700px;
        object-fit: cover;
    }
    .about-section {
        flex-wrap: wrap;
    }
    .wcu-content {
        justify-content: space-around;
        gap: 20px;
    }
    .testimonial-content {
    gap: 20px;
    }
    .team-content {
        gap: 20px;
    }
    .cta-image {
        height: 700px;
        object-fit: cover;
    }
    .cta-content-wrapper {
        padding: 32px;
    }
    .cta-content {
        padding: 32px;
        gap: 20px;
    }
    .cta-form {
        width: 75%;
    }
    .cta-form-section {
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }
    .cta-form-inputs input, 
    .cta-form-section textarea {
            width: 100%;
    }

}









/* Large devices (small desktops, up to 1199px) */
@media (min-width: 992px) and (max-width: 1199px)  {
    .hero-image {
        height: 650px;
        object-fit: cover;
    }
    .about-section {
        flex-wrap: wrap;
    }
    .wcu-content {
        justify-content: space-around;
        gap: 20px;
    }
    .testimonial-content {
    gap: 20px;
    }
    .team-content {
        gap: 20px;
    }
    .cta-image {
        height: 652px;
        object-fit: cover;
    }
    .cta-content-wrapper {
        padding: 32px;
        top: -12px;
    }
    .cta-content {
        padding: 32px;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .cta-form {
        width: 75%;
    }
    .cta-form-section {
        gap: 20px;
        flex-direction: column;
    }
    .cta-form-inputs {
        flex-direction: column;
    }
    .cta-form-inputs input, 
    .cta-form-section textarea {
            width: 100%;
    }

}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
    .hero-image {
        height: 700px;
        object-fit: cover;
    }
    .cta-image {
        height: 700px;
        object-fit: cover;
    }
   
    
    
}