* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif;
}

header {
    position: relative;
}
.hero-content {
    position: absolute;
    top: 0;
    width: 100%;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    text-decoration: none;;
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.nav-links a:hover {
    color: #0328AA;
    font-weight: 600;
}
.top-nav {
    width: 100%;
}
.hero-image {
    width: 100%;
    height: auto;
}
#brand-id img{
    width: 160px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0 8px 0;
}
.hero-text {
    margin-top: 180px;
    max-width: 700px;
}

.hero-text h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
}
.hero-text p {
    max-width: 600px;
    font-family: 1.1rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 20px;
}
button {
    all: unset;
}
.btn-primary {
    padding: 24px 48px;
    background-color: #0328AA;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}


.section-title {
    font-family: "Bricolage Grotesque", sans-serif;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-content {
        display: block;
    }
    .nav-links {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 10px 10px 10px;
    }
    #brand-id {
        padding-bottom: 10px;
    }
    .hero-image {
        height: 100vh;
        object-fit: cover;
    }
    .navbar-content {
        padding: 8px 16px 8px 16px;
    }
}